* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}
#header {
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 450px;
}
.loggo {
    width: 450px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}

nav ul li a::after {
    content: ' ';
    width: 0%;
    height: 3px;
    background: rgb(225, 29, 107);
    position: absolute;
    left: 0px;
    bottom: -6px;
}

nav ul li a::after {
    content: ' ';
    width: 0%;
    height: 3px;
    background: rgb(225, 29, 107);
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.1s;
}

nav ul li a:hover::after {
    width: 100%;
}

/*<--------------Projects------------->*/
#projects {
    padding: 50px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project-col-1 {
    flex-basis: 35%;
}

.project-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.project-col-2 p{
    text-align: justify;
}
.sub-title{
    margin: 10px;
    padding: 10px;
}
.ar{
    color: #00bcd4;
}
.au {
    color: #00bcd4;
}
.ba {
    color: #80ff02;
}
.me {
    color: #80ff02;
}
.project-col-2 {
    flex-basis: 60%;
}
.ss{
    color: #fff702;
}
.tu{
    color: #00bcd4;
}
.hu{
    color: #80ff02;
}
.mtr{
    color: #00bcd4;
}
.btn.btn4 {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 21px;
    background: #e1a1b9;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
}
/*----------------------contact---------------------*/
#contacts {
    padding: 50px 0;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #ff0263;
    margin-top: 15px;
    font-size: 25px;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    color: #f50c62;
    text-decoration: none;
    margin-right: 15px;
    font-size: 30px;
    display: inline-block;
}

.social-icon a:hover {
    color: #ff0263;
    transform: translateY(-5px);
    cursor: pointer;
    transition: transform 0.5s;
}

.btn.btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 21px;
    background: #f50c62;
    border-radius: 5px;
    color: #fff;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #3b4340;
    padding: 15px;
    margin: 5px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

form.btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#msg {
    color: #00fefa;
    margin-top: 20px;
    display: block;
}